<main class="form-signin">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= link_to root_path do %>
      <%= image_pack_tag "media/images/mostacho_logo.png", width: "110", height: "110", class: "mb-4" %>
    <% end %>
    <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>

    <%= render 'devise/shared/flash' %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                label: "Correo",
                input_html: { autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" },
                wrapper_html: { class: "form-floating" } 
    %>
    <%= f.input :password,
                required: true,
                label: "Contraseña",
                input_html: { autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password" },
                wrapper_html: { class: "form-floating" }
    %>
    <%= f.input :remember_me, label: "Recuérdame", as: :boolean, wrapper_html: { class: "checkbox mb-3" } if devise_mapping.rememberable? %>
    <%= f.button :submit, "Iniciar Sesión", class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
</main>