<div data-controller="modal" class="modal fade" id="newProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%= simple_form_for product do |f| %>
                <div class="modal-header">
                    <h4 class="modal-title">Crear Producto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= f.input :name, label: "Nombre", input_html: {class: "form-control input-lg"}, wrapper_html: {class: "form-group"} %>
                    <%= f.input :price, label: "Precio", input_html: {class: "form-control input-lg", wrapper_html: {class: "form-group mb-1"}} %>
                    <%= f.input :photo, label: "Foto", as: :file, wrapper_html: {class: "form-group"} %>
                </div>
                <%= f.submit "Crear Producto", wrapper_html: {class: "modal-footer"}, class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
