<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Productos</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <% if user_signed_in? %>
        <%= turbo_stream_from "products" %>
        <%= turbo_frame_tag "products", class: "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" do %>
          <%= render @products, user: current_user %>
          <%= render 'shared/new_product_btn' if user_signed_in? %>
        <% end %>
      <% else %>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
          <% @products.each do |p| %>
            <%= render 'product_card', product: p %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "modal" do %>
    <%= render partial: "products/form", locals: { product: Product.new } %>
  <% end %>
</main>