<!DOCTYPE html>
<html>
  <head>
    <title>MostachoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to root_path, class: "d-flex align-items-center me-lg-auto" do %>
          <%= image_pack_tag "media/images/mostacho_logo.png", width: "80", height: "80" %>
        <% end %>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <% if user_signed_in? %>
              <%= link_to orders_path, class: "nav-link text-white" do %>
                <i class="fas fa-table fa-2x mx-2 bi d-block mx-auto mb-1"></i>
                Orders
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to products_path, class: "nav-link text-white" do %>
              <i class="fas fa-birthday-cake fa-2x mx-2 bi d-block mx-auto mb-1"></i>
              Products
            <% end %>
          </li>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, class: "nav-link text-white", method: :delete do %>
                <i class="far fa-user fa-2x mx-2 bi d-block mx-auto mb-1"></i>
                Sign Out
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: "nav-link text-white" do %>
                <i class="far fa-user fa-2x mx-2 bi d-block mx-auto mb-1"></i>
                Sign In
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
